<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVu_UUT_LNZ7a1YhCT0x_NSkJFQ3tKFAE</string>
	<key>GCM_SENDER_ID</key>
	<string>173460478569</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.task.management</string>
	<key>PROJECT_ID</key>
	<string>maulik-assignment</string>
	<key>STORAGE_BUCKET</key>
	<string>maulik-assignment.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:173460478569:ios:ef7e5752e5180d0634e0f8</string>
</dict>
</plist>